@import url('http://fonts.cdnfonts.com/css/pokemon-solid');



header {
    width: inherit;
    height:10.18vh;
    background-color: #BA0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 2.70vw ;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: auto;
    height: 100%;
    gap: 20px;
}

.pesquisa > input,
.pesquisa > button {
    border-radius: 20px;
    border: 1px solid #2c2c2c;

}

.pesquisa-pokemon {
    width: 21.05vw;
    height: 50%;
    padding: 1vh 1vw;
    font-size: clamp(0.5rem , 3vw, 1rem);
}
.pesquisa-pokemon:hover,
.pesquisa-tipo-um:hover {
    cursor: pointer;
    background-color: #ebebeb;
}
.pesquisa-tipo-um {
    width: 11.64vw;
    height: 40%;
    padding: .5vh .5vw;
    font-size: clamp(0.1rem , 3vw, 0.6rem);
}

.btnPesquisar {
    width: 8.42vw;
    height: 2.55vh;
    padding: 1vh 1vw;
    background-color: #2c53b4;
    color: #fff;
    font-size: clamp(0.3rem , 1vw, 0.9rem);
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
}
.btnPesquisar:hover {
    cursor: pointer;
    background-color: #1f3b81;
}

.logo {
    width: 10%;
    min-width: 60px;
}

.logo >img{
    width: 100%;
}

@media (max-width:900px) {
    .pesquisa-pokemon {
        width: 33vw;
        height: 20%;
        font-size: clamp(0.1rem , 3vw, .5rem);
    }
    .pesquisa-tipo-um {
        width: 22vw;
        height: 15%;
        font-size: clamp(0.1rem , 3vw, .5rem);
    }
    
    .btnPesquisar {
        width: 10vw;
        height: 15%;
    }
}