* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Pokemon Solid', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    width: 100%;
}
/* .row {
    margin-left: 0;
    margin-right: 0;
} */